{% extends "layout/admin.html.twig" %}
{% block title %}Commandes{% endblock %}
{% block content %}
<div class="row">
	<div class="span12">
		<h3>Commandes <small>DÉTAILS DE LA COMMANDE</small></h3>
		<a class="btn btn-success" href="index.php"><i class="icon-circle-arrow-left icon-white"></i> Retour aux commandes</a>
		<hr />
		<h4>
			Commande du {{ order.date | date('d/m/Y') }} par {{ customer.firstname }} {{ customer.lastname }}
		</h4>
		{% if order.status == "En préparation" %}
		<p class="text-info"><em>Commande en préparation</em></p>
		{% elseif order.status == "Envoyée" %}
		<p class="text-success"><em>Commande envoyée</em></p>
		{% else %}
		<p class="text-error"><em>Commande annulée</em></p>
		{% endif %}
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>
						Articles commandés
					</th>
					<th>
						Quantité
					</th>
					<th>
						Prix
					</th>
				</tr>
			</thead>
			<tbody>
				{% for detail in details %}
				{% set product = getProductById(detail.id_product) %}
				{% set artist = getArtistById(product.id_artist) %}
				<tr>
					<td>
						<img src="{{ resize(root~'uploads/products/'~product.image, 50, 50, 'outbound') }}" alt="" />{% if artist.firstname is not null %}{{ artist.firstname }} {% endif %}{{ artist.lastname }} - {{ product.title }}
					</td>
					<td>
						{{ detail.quantity }}
					</td>
					<td>
						{{ product.price }}€
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		<p class="lead">Total : {{ order.amount }}€</p>
		<h5>Adresse de livraison</h5>
		<address>
			<strong>{{ delivery.firstname }} {{ delivery.lastname }}</strong><br />
			{{ delivery.address1 }}<br />
			{% if delivery.address2 is not empty %}
			{{ delivery.address2 }}<br />
			{% endif %}
			{{ delivery.postcode }} {{ delivery.city }}<br />
		</address>
		<h5>Adresse de facturation</h5>
		<address>
			<strong>{{ billing.firstname }} {{ billing.lastname }}</strong><br />
			{{ billing.address1 }}<br />
			{% if billing.address2 is not empty %}
			{{ billing.address2 }}<br />
			{% endif %}
			{{ billing.postcode }} {{ billing.city }}<br />
		</address>
	</div>
</div>
{% endblock %}