{% extends 'layout/base.html.twig' %}
{% block title %}Mon compte{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span6">
			<h3>Mon compte</h3>
			<a href="logout.php" class="btn btn-warning">Déconnexion</a>
			<a href="perso-informations.php" class="btn btn-primary">Modifier mes informations</a>
			<br /><br />
			<p class="lead">
				{{ customer.firstname }} {{ customer.lastname }}<br />
				<small>{{ customer.email }}</small>
			</p>
			<hr />
			<h5>Mes commandes</h5>
			{% if orders is empty %}
				<p>Aucune commande passée pour l'instant.</p>
			{% else %}
			{% for order in orders %}
				{% set details = getOrderDetails(order.id) %}
				<p>
					<strong>Commande du {{ order.date | date('d/m/Y') }}</strong>
				</p>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>
								Articles commandés
							</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						{% for detail in details %}
						{% set product = getProductById(detail.id_product) %}
						{% set artist = getArtistById(product.id_artist) %}
						<tr>
							<td>
								<span class="text-info"><strong>x {{ detail.quantity }}</strong></span> {% if artist.firstname is not null %}{{ artist.firstname }} {% endif %}{{ artist.lastname }} - {{ product.title }}
							</td>
							<td>
								<a href="orders.php?order={{ order.id }}" class="btn btn-primary">Voir détails</a>
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			{% endfor %}
			{% endif %}
			<hr />
			<h5>Mon addresse de livraison</h5>
			{% if delivery is empty %}
				<p>Aucune adresse par défaut spécifiée.</p>
			{% else %}
			<address>
				<strong>{{ delivery.firstname }} {{ delivery.lastname }}</strong><br />
				{{ delivery.address1 }}<br />
				{% if delivery.address2 is not empty %}
				{{ delivery.address2 }}<br />
				{% endif %}
				{{ delivery.postcode }} {{ delivery.city }}<br />
			</address>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}